<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Registration Form</ion-title>
  </ion-toolbar>
</ion-header>


    <!-- <ion-title>Registeration Form</ion-title> -->

<ion-content>
  <ion-avatar class="avatar">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Name:</ion-label>
      <ion-input [(ngModel)]="user.name"  name="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input [(ngModel)]="user.email"  name="email" type="text" required> </ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mobile No:</ion-label>
      <ion-input  [(ngModel)]="user.mobile" name="mobile" type="text"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password:</ion-label>
      <ion-input [(ngModel)]="user.password"  name="password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="register()" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <p>Already have an Account  <a  routerLink='/signin'>Signin</a></p>
  
</ion-content>